<template>
  <main class="content">
    <div class="container-fluid">
      <v-app id="document">
        <div class="content-header">
          <h1>Listado de documentos</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <v-btn
                    @click="openDialogDrafDocuments"
                  class="bee darker text-white no-decoration"
                >Documentos en borrador </v-btn>
                <v-btn
                  :href="`${resource}/create`"
                  class="bee darker text-white no-decoration"
                >Nueva factura</v-btn>
                <!-- <v-btn color="success" @click="dialog = !dialog">Nuevo documento</v-btn> -->
              </li>
            </ol>
          </nav>
        </div>
        <v-card>
          <v-card-title>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="columns"
            :items="documents"
            :search="search"
            :loading="loadDataTable"
            class="elevation-1"
            :disable-initial-sort="true"
            :hide-actions="true"
          >
            <template slot="items" slot-scope="props">
              <td>{{props.item.id}}</td>
              <td>{{props.item.date_issue}}</td>
              <td>{{props.item.client.name}}</td>
              <td>
                <div>{{props.item.type_document.name}}</div>
                <div>
                  {{props.item.prefix}}{{props.item.number}}
                  <template
                    v-if="props.item.type_document_id != 1"
                  >({{props.item.reference.prefix}}{{props.item.reference.number}})</template>
                </div>
              </td>
              <td>{{props.item.state_document.name}}</td>
              <td>{{(props.item.acknowledgment_received != null) ? ((props.item.acknowledgment_received == 1) ? 'Aceptado' : 'Rechazado') : ''}}</td>
              <td>{{props.item.currency.code}}</td>
              <td>{{ratePrefix()}}{{props.item.sale | numberFormat}}</td>
              <td>{{ratePrefix()}}{{props.item.total_discount}}</td>
              <td>{{ratePrefix()}}{{props.item.total_tax | numberFormat}}</td>
              <td>{{ratePrefix()}}{{props.item.subtotal | numberFormat}}</td>
              <td>{{ratePrefix()}}{{props.item.total | numberFormat}}</td>
              <td>
                <v-menu
                  v-model="props.item.acctions"
                  :close-on-content-click="false"
                  :nudge-width="200"
                  offset-x
                >
                  <template v-slot:activator="{on}">
                    <v-icon small v-on="on" color="green darken-2">fas fa-eye</v-icon>
                  </template>
                  <v-card>
                    <v-list>
                      <v-list-tile avatar>
                        <v-list-tile-avatar>
                          <v-icon>fas fa-file</v-icon>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                          <v-list-tile-title>{{props.item.type_document.name}}</v-list-tile-title>
                          <v-list-tile-sub-title>{{props.item.prefix}}{{props.item.number}}</v-list-tile-sub-title>
                          <v-list-tile-sub-title class="caption">{{props.item.cufe}}</v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                          <v-btn
                            icon
                            :loading="props.item.loading"
                            @click="query(props.item)"
                            :disabled="props.item.state_document_id == 6"
                          >
                            <v-icon>refresh</v-icon>
                          </v-btn>
                        </v-list-tile-action>
                      </v-list-tile>
                    </v-list>
                    <v-divider></v-divider>
                    <v-list>
                      <v-list-tile>
                        <v-list-tile-title>Email</v-list-tile-title>
                        <v-list-tile-action>
                          <v-btn icon @click="openDialogemail(props.item.correlative_api, props.item.client.email)">
                            <v-icon small>email</v-icon>
                          </v-btn>
                        </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile>
                        <v-list-tile-title>XML</v-list-tile-title>
                        <v-list-tile-action>
                          <v-btn
                            icon
                            @click="clickDownloadXml(props.item.id, props)"
                          >
                            <v-icon small>fas fa-download</v-icon>
                          </v-btn>
                        </v-list-tile-action>
                      </v-list-tile>

                      <v-list-tile>
                        <v-list-tile-title>PDF</v-list-tile-title>
                        <v-list-tile-action>

                          <template v-if="props.item.type_document_id == 1">
                            <v-btn
                              icon
                              @click="clickDownloadPdf(props.item.id, props)"
                            >
                              <v-icon small>fas fa-download</v-icon>
                            </v-btn>
                          </template>
                          <template v-else>
                            <v-btn
                              icon
                              @click="clickDownloadPdf(props.item.id, props)"
                            >
                              <v-icon small>fas fa-download</v-icon>
                            </v-btn>
                          </template>

                        </v-list-tile-action>
                      </v-list-tile>

                      <v-list-tile>
                        <v-list-tile-title>Attached Document</v-list-tile-title>
                        <v-list-tile-action>
                          <v-btn
                            icon
                            @click="clickDownloadAttached(props.item.id, props)"
                          >
                            <v-icon small>fas fa-download</v-icon>
                          </v-btn>
                        </v-list-tile-action>
                      </v-list-tile>
                      <v-list-tile v-if="props.item.type_document_id == 1">
                        <v-list-tile-title>Nota</v-list-tile-title>
                        <v-list-tile-action>
                          <v-btn icon @click="editDocument(props.item.id)">
                            <v-icon small>fas fa-book</v-icon>
                          </v-btn>
                        </v-list-tile-action>
                      </v-list-tile>
                    </v-list>
                    <v-divider></v-divider>
                    <!--<v-list v-if="props.item.log_documents.length > 0">
                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    <v-list-tile-title>Log</v-list-tile-title>
                                                    <v-list-tile-sub-title>{{props.item.log_documents[0].payload}}</v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>
                    </v-list>-->
                  </v-card>
                </v-menu>
              </td>
            </template>
          </v-data-table>
          <div class="text-xs-center">
            <v-pagination
              v-model="paginator.page"
              :length="paginator.total"
              @input="getRecords"
              :total-visible="7"
            ></v-pagination>
          </div>
        </v-card>
      </v-app>
      <v-app id="document_form" style="height: 0px;">
        <v-layout row justify-center>
          <v-dialog v-model="dialogItems" max-width="600px">
            <v-card>
              <v-list three-line subheader>
                <v-form data-vv-scope="add">
                  <v-container>
                    <v-layout row wrap>
                      <v-flex xs12 sm12 md6 lg6>
                        <v-autocomplete
                          v-model="add.item_id"
                          v-validate="'required'"
                          :error-messages="errors.collect('add.item_id')"
                          data-vv-name="item_id"
                          :counter="255"
                          :items="items"
                          item-text="name"
                          item-value="id"
                          label="Producto *"
                          required
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm12 md6 lg6>
                        <v-text-field
                          v-model="add.quantity"
                          v-validate="'required|decimal:2|max:13'"
                          :error-messages="errors.collect('add.quantity')"
                          data-vv-name="quantity"
                          :counter="13"
                          label="Cantidad *"
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </v-list>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat @click="dialogItems = false">Cerrar</v-btn>
                <v-btn flat @click="validateItem('add')">Agregar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogRetention" max-width="600px">
            <v-card>
              <v-list three-line subheader>
                <v-form data-vv-scope="retention">
                  <v-container>
                    <v-layout row wrap>
                      <v-flex xs12 sm12 md12 lg12>
                        <v-autocomplete
                          v-model="retention.retention_id"
                          :suffix="`${retentionSelected.rate}%`"
                          v-validate="'required'"
                          :error-messages="errors.collect('retention.retention_id')"
                          data-vv-name="retention_id"
                          :counter="255"
                          :items="retentiontaxes"
                          item-text="name"
                          item-value="id"
                          label="Retención *"
                          required
                        ></v-autocomplete>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </v-list>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat @click="dialogRetention = false">Cerrar</v-btn>
                <v-btn flat @click="validateRetention('retention')">Agregar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog
            v-model="dialog"
            persistent
            max-width="900"
            transition="dialog-bottom-transition"
            >
            <v-card>
              <v-card-title>
                <span class="headline">Nota</span>
              </v-card-title>
              <v-list three-line subheader>
                <v-form data-vv-scope="document">
                  <v-container>
                    <v-layout row wrap>
                      <v-flex xs12 sm12 md6 lg4>
                        <v-menu
                          ref="menu_date_issue"
                          v-model="menuDateIssue"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          :return-value.sync="document.date_issue"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          min-width="290px"
                        >
                          <template v-slot:activator="{on}">
                            <v-text-field
                              v-model="document.date_issue"
                              label="Fecha de emisión *"
                              prepend-icon="event"
                              readonly
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            v-model="document.date_issue"
                            locale="es-co"
                            :max="toDate"
                            no-title
                            scrollable
                          >
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="menuDateIssue = false">Cancelar</v-btn>
                            <v-btn
                              flat
                              color="primary"
                              @click="$refs.menu_date_issue.save(document.date_issue)"
                            >OK</v-btn>
                          </v-date-picker>
                        </v-menu>
                      </v-flex>

                      <template v-if="editMode">
                        <v-flex xs12 sm12 md6 lg4>
                          <v-autocomplete
                            v-model="document.type_document_id"
                            key="document_type_document_id"
                            v-validate="'required'"
                            :error-messages="errors.collect('document.type_document_id')"
                            data-vv-name="type_document_id"
                            :counter="255"
                            :items="typeNoteDocuments"
                            item-text="name"
                            item-value="id"
                            label="Tipo de nota *"
                            @change="conceptss"
                            required
                          ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm12 md6 lg4>
                          <v-autocomplete
                            v-model="document.note_concept_id"
                            key="document_note_concept_id"
                            v-validate="'required'"
                            :error-messages="errors.collect('document.note_concept_id')"
                            data-vv-name="note_concept_id"
                            :counter="255"
                            :items="noteConcepts"
                            item-text="name"
                            item-value="id"
                            label="Concepto *"
                            required
                          ></v-autocomplete>
                        </v-flex>
                      </template>
                      <template v-else>
                        <v-flex xs12 sm12 md6 lg4>
                          <v-autocomplete
                            v-model="document.type_invoice_id"
                            key="document_type_invoice_id"
                            v-validate="'required'"
                            :error-messages="errors.collect('document.type_invoice_id')"
                            data-vv-name="type_invoice_id"
                            :counter="255"
                            :items="typeInvoices"
                            item-text="name"
                            item-value="id"
                            label="Tipo de factura *"
                            required
                          ></v-autocomplete>
                        </v-flex>
                      </template>
                      <v-flex xs12 sm12 md6 lg4>
                        <v-autocomplete
                          v-model="document.client_id"
                          v-validate="'required'"
                          :error-messages="errors.collect('document.client_id')"
                          data-vv-name="client_id"
                          :counter="255"
                          :items="clients"
                          item-text="name"
                          item-value="id"
                          label="Cliente *"
                          required
                          :disabled="editMode"
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm12 md6 lg4>
                        <v-autocomplete
                          v-model="document.currency_id"
                          v-validate="'required'"
                          :error-messages="errors.collect('document.currency_id')"
                          data-vv-name="currency_id"
                          :counter="255"
                          :items="currencies"
                          item-text="name"
                          item-value="id"
                          label="Moneda *"
                          required
                          :disabled="editMode"
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm12 md12 lg12 class="text-lg-right">
                        <v-textarea
                          v-model="document.observation"
                          v-validate="'max:255'"
                          :error-messages="errors.collect('document.observation')"
                          data-vv-name="observation"
                          :counter="255"
                          auto-grow
                          label="Observación"
                          rows="2"
                        ></v-textarea>
                      </v-flex>
                      <v-flex xs12 sm12 md12 lg12 xl12>
                        <v-data-table :headers="columnItems" :items="document.items" hide-actions>
                          <template slot="items" slot-scope="props">
                            <td>{{props.item.name}}</td>
                            <td>{{props.item.type_unit.name}}</td>
                            <td>
                              <v-text-field
                                v-model="props.item.quantity"
                                v-validate="'decimal:2|max:6'"
                                :error-messages="errors.collect('document.quantity')"
                                data-vv-name="quantity"
                                required
                              ></v-text-field>
                            </td>
                            <td>
                              <v-text-field
                                v-model="props.item.price"
                                v-validate="'decimal:2|max:13'"
                                :prefix="currencySymbol"
                                :error-messages="errors.collect('document.price')"
                                data-vv-name="price"
                                required
                              ></v-text-field>
                            </td>
                            <td>
                              <v-autocomplete
                                v-model="props.item.tax_id"
                                :suffix="`${ratePrefix()}${props.item.total_tax}`"
                                :counter="255"
                                :items="itemTaxes"
                                item-text="name"
                                item-value="id"
                              ></v-autocomplete>
                            </td>
                            <td>{{ratePrefix()}}{{props.item.subtotal | numberFormat}}</td>
                            <td>
                              <v-text-field
                                v-model="props.item.discount"
                                v-validate="'decimal:2|max:13'"
                                :prefix="currencySymbol"
                                :error-messages="errors.collect('document.discount')"
                                data-vv-name="discount"
                                :counter="13"
                                label="Descuento"
                                required
                              ></v-text-field>
                            </td>
                            <td>{{ratePrefix()}}{{props.item.total | numberFormat}}</td>
                            <td class="text-lg-right text-md-right text-sm-right text-xs-right">
                              <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                            </td>
                          </template>
                        </v-data-table>
                      </v-flex>
                      <v-flex v-if="showTotalAndSave" xs12 sm12 md12 lg12 xl12>
                        <v-layout justify-end>
                          <v-btn block @click="dialogItems = !dialogItems">
                            <v-icon>add</v-icon>Agregar productos
                          </v-btn>
                        </v-layout>
                        <v-layout justify-end>
                          <v-btn v-show="false" block @click="dialogRetention = !dialogRetention">
                            <v-icon>add</v-icon>Agregar retención
                          </v-btn>
                        </v-layout>
                        <v-layout justify-end>
                          <div
                            class="text-uppercase title"
                          >Total venta: {{ratePrefix()}}{{document.sale | numberFormat}}</div>
                        </v-layout>
                        <v-layout justify-end>
                          <div
                            class="text-uppercase title"
                          >Total descuento(-): {{ratePrefix()}}{{document.total_discount | numberFormat}}</div>
                        </v-layout>
                        <template v-for="(tax, index) in document.taxes">
                          <v-layout v-if="((tax.total > 0) && (!tax.is_retention))" justify-end>
                            <div
                              class="text-uppercase title"
                            >{{tax.name}}(+): {{ratePrefix()}}{{Number(tax.total).toFixed(2) | numberFormat}}</div>
                          </v-layout>
                        </template>
                        <v-layout justify-end>
                          <div
                            class="text-uppercase title"
                          >Subtotal: {{ratePrefix()}}{{document.subtotal | numberFormat}}</div>
                        </v-layout>
                        <template v-for="(tax, index) in taxes">
                          <v-layout v-if="((tax.is_retention) && (tax.apply))" justify-end>
                            <v-flex xs12 sm4 md2 lg2 xl2>
                              <v-text-field
                                :prefix="currencySymbol"
                                :counter="13"
                                :label="`${tax.name}(-)`"
                                :value="tax.retention"
                                append-icon="close"
                                @click:append="deleteRetention(tax)"
                                readonly
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                        </template>
                        <v-layout justify-end>
                          <div
                            class="text-uppercase title"
                          >Total: {{ratePrefix()}}{{document.total | numberFormat}}</div>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-container>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="warning" flat @click="close()">Cerrar</v-btn>
                    <v-btn
                      color="bee"
                      flat
                      :loading="loading"
                      @click="validate('document')"
                      :disabled="!showTotalAndSave"
                    >Guardar</v-btn>
                  </v-card-actions>
                </v-form>
              </v-list>
            </v-card>
          </v-dialog>

          <v-dialog v-model="dialogDraftDocuments" max-width="600px">
            <v-card>
              <v-list style="padding:3%" three-line subheader>
                 <v-data-table
                    :headers="headersDraft"
                    :items="draftDocuments"
                    class="elevation-1"
                    hide-actions

                >
                    <template v-slot:items="props">
                        <td>{{ props.item.observation }}</td>
                        <td class="text-xs-right">{{ props.item.total }}</td>
                        <td>
                            <v-btn :href="`${resource}/create/${props.item.uuid}`" >
                                Generar
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>
              </v-list>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat @click="dialogDraftDocuments = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-layout>
      </v-app>
       <v-dialog
        v-model="dialogEmail"
        width="500"
         >
        <v-card>
          <v-card-title
            class="headline grey lighten-2"
            primary-title
          >
            Enviar documento por email
          </v-card-title>

          <v-card-text>
            <v-text-field v-model="email" v-validate="'email|max:50'"  data-vv-name="email" :counter="50" label="Correo electrónico"></v-text-field>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              flat
              @click="dialogEmail = false"
            >
              Cerrar
            </v-btn>
            <v-btn
              :loading="loader_email"
              color="primary"
              flat
              @click="sendEmail()"
            >
              Enviar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </main>
</template>

<script>
import Helper from "../../../mixins/Helper";

export default {
  mixins: [Helper],
  props: {
    route: {
      required: true
    },
    api: {
      required: true
    }
  },
  data: () => ({

    menuDateExpiration: false,
    resource: "documents",
    dialogRetention: false,
    menuDateIssue: false,
    loadDataTable: false,
    dialogItems: false,
    noteConcepts: [],
    editMode: false,
    columnItems: [
      {
        text: "Producto",
        value: "name",
        sortable: false
      },
      {
        text: "Unidad",
        value: "type_unit_id",
        sortable: false
      },
      {
        text: "Cantidad",
        value: "quantity",
        sortable: false
      },
      {
        text: "Precio unitario",
        value: "price",
        sortable: false
      },
      {
        text: "Impuesto",
        value: "tax_id",
        sortable: false
      },
      {
        text: "Subtotal",
        value: "subtotal",
        sortable: false
      },
      {
        text: "Descuento",
        value: "discount",
        sortable: false
      },
      {
        text: "Total",
        value: "total",
        sortable: false
      },
      {
        text: "Acciones",
        value: "actions",
        sortable: false
      }
    ],
    columns: [
      {
        text: "#",
        value: "id"
      },
      {
        text: "Fecha de emisión",
        value: "date_issue"
      },
      {
        text: "Cliente",
        value: "client.name"
      },
      {
        text: "Documento",
        value: "number"
      },
      {
        text: "Estado DIAN",
        value: "number"
      },
      {
        text: "Acuse recibido cliente",
        value: "acknowledgment_received"
      },
      {
        text: "Moneda",
        value: "currency.code"
      },
      {
        text: "Total venta",
        value: "sale"
      },
      {
        text: "Total descuentos",
        value: "total_discount"
      },
      {
        text: "Total impuestos",
        value: "total_tax"
      },
      {
        text: "Subtotal",
        value: "subtotal"
      },
      {
        text: "Total",
        value: "total"
      },
      {
        text: "Acciones",
        value: "actions",
        sortable: false
      }
    ],
    typeDocuments: [],
    typeInvoices: [],
    currencies: [],
    loading: false,
    dialog: false,
    documents: [],
    retention: {},
    document: {},
    clients: [],
    search: "",
    items: [],
    taxes: [],
    add: {},
    noteService: {},
    tax_amount_calculate: [],
    draftDocuments:[],
    dialogDraftDocuments:false,
    headersDraft: [
        {
          text: 'Observacion',
          value: 'observation',
           sortable: false
        },
        { text: 'Total', value: 'total',  sortable: false },
        {
            text: "Acciones",
            value: "actions",
            sortable: false
        }
    ],
    dialogEmail: false,
    email: null,
    idSelected:null,
    loader_email: false,
    paginator: {
      page: 1,
      total: 1,
    },
  }),
  computed: {
    itemTaxes() {
      return this.taxes.filter(tax => !tax.is_retention);
    },
    retentiontaxes() {
      return this.taxes.filter(tax => tax.is_retention);
    },
    retentionSelected() {
      if (this.retention.retention_id == null) return { rate: 0 };

      return this.taxes.find(row => row.id == this.retention.retention_id);
    },
    showTotalAndSave() {
      return true; //((this.document.hasOwnProperty('items')) && (this.document.items.length > 0));
    },
    typeNoteDocuments() {
      return this.typeDocuments.filter(row => row.id != 1);
    }
  },
  watch: {
    document: {
      handler(val) {
        val.taxes = JSON.parse(JSON.stringify(this.taxes));
        val.items.forEach(item => {
          item.tax = this.taxes.find(tax => tax.id == item.tax_id);

          if (
            item.discount == null ||
            item.discount == "" ||
            item.discount > item.price * item.quantity
          )
            this.$set(item, "discount", 0);

          item.total_tax = 0;

          if (item.tax != null) {
            let tax = val.taxes.find(tax => tax.id == item.tax.id);

            if (item.tax.is_fixed_value)
              item.total_tax = (
                item.tax.rate * item.quantity -
                (item.discount < item.price * item.quantity ? item.discount : 0)
              ).toFixed(2);
            if (item.tax.is_percentage)
              item.total_tax = (
                (item.price * item.quantity -
                  (item.discount < item.price * item.quantity
                    ? item.discount
                    : 0)) *
                (item.tax.rate / item.tax.conversion)
              ).toFixed(2);
            if (!tax.hasOwnProperty("total")) tax.total = Number(0).toFixed(2);

            tax.total = (Number(tax.total) + Number(item.total_tax)).toFixed(2);
          }

          item.subtotal = (
            Number(item.price * item.quantity) + Number(item.total_tax)
          ).toFixed(2);

          this.$set(
            item,
            "total",
            (Number(item.subtotal) - Number(item.discount)).toFixed(2)
          );
        });

        val.subtotal = val.items
          .reduce(
            (p, c) => Number(p) + (Number(c.subtotal) - Number(c.discount)),
            0
          )
          .toFixed(2);
        val.sale = val.items.reduce((p, c) => Number(p) + Number(c.price * c.quantity)- Number(c.discount), 0).toFixed(2);

        val.total_discount = val.items
          .reduce((p, c) => Number(p) + Number(c.discount), 0)
          .toFixed(2);
        val.total_tax = val.items
          .reduce((p, c) => Number(p) + Number(c.total_tax), 0)
          .toFixed(2);

        let total = val.items
          .reduce((p, c) => Number(p) + Number(c.total), 0)
          .toFixed(2);
        let totalRetentionBase = Number(0);

        this.taxes.forEach(tax => {
          if (tax.is_retention && tax.in_base && tax.apply) {
            tax.retention = (
              Number(val.sale) *
              (tax.rate / tax.conversion)
            ).toFixed(2);

            totalRetentionBase =
              Number(totalRetentionBase) + Number(tax.retention);

            if (Number(totalRetentionBase) >= Number(val.sale))
              this.$set(tax, "retention", Number(0).toFixed(2));

            total -= Number(tax.retention).toFixed(2);
          }

          if (
            tax.is_retention &&
            !tax.in_base &&
            tax.in_tax != null &&
            tax.apply
          ) {
            let row = val.taxes.find(row => row.id == tax.in_tax);

            tax.retention = Number(
              Number(row.total) * (tax.rate / tax.conversion)
            ).toFixed(2);

            if (Number(tax.retention) > Number(row.total))
              this.$set(tax, "retention", Number(0).toFixed(2));

            row.retention = Number(tax.retention).toFixed(2);
            total -= Number(tax.retention).toFixed(2);
          }
        });

        val.total = Number(total).toFixed(2);
      },
      deep: true
    }
  },
  async mounted() {
    await this.refreshData();
    await this.getRecords();
    await this.loadDraftDocuments();
  },
  methods: {
    clickDownloadPdf(id, props){
        this.$root.$emit('addSnackbarNotification', {text: 'Descargando Pdf...', color: 'success'});
        axios.get(`/client/documents/reload-download/${id}`)
            .then(response => {
                this.downloadFile(`${this.api_download}${props.item.response_api_invoice.urlinvoicepdf}`)
//              window.open(`${this.api_download}${props.item.response_api_invoice.urlinvoicepdf}`)
            })
            .catch(error => {
              console.log(error)
            })
    },
    clickDownloadXml(id, props){
        this.$root.$emit('addSnackbarNotification', {text: 'Descargando Xml...', color: 'success'});
        this.downloadFile(`${this.api_download}${props.item.response_api_invoice.urlinvoicexml}`)
//          window.open(`${this.api_download}${props.item.response_api_invoice.urlinvoicepdf}`)
    },
    clickDownloadAttached(id, props){
        this.$root.$emit('addSnackbarNotification', {text: 'Descargando AttachedDocument...', color: 'success'});
        this.downloadFile(`${this.api_download}${props.item.response_api_invoice.urlinvoiceattached}`)
//          window.open(`${this.api_download}${props.item.response_api_invoice.urlinvoicepdf}`)
    },
    downloadFile(download) {
        axios.get(`/client/downloadFile/${this.downloadFilename(download)}`).then((response) => {
            var byteCharacters = atob(response.data.filebase64);
            var byteNumbers = new Array(byteCharacters.length);
            for (var i = 0; i < byteCharacters.length; i++) {
                byteNumbers[i] = byteCharacters.charCodeAt(i);
            }
            var byteArray = new Uint8Array(byteNumbers);
            if(download.indexOf("PDF") >= 0 || download.indexOf("pdf") >= 0)
                var file = new Blob([byteArray], { type: 'application/pdf;base64' });
            else
                var file = new Blob([byteArray], { type: 'application/xml;base64' });
                var fileURL = URL.createObjectURL(file);
                window.open(fileURL, '_blank');
            })
//                window.open(download, '_blank');
    },
    downloadFilename(filename){
        var c = ""
        for(var i = filename.length - 1; i >= 0; i--){
            if(filename.substring(i, i + 1) != "/"){
                c = c + filename.substring(i, i + 1)
            }
            else
                return c.split('').reverse().join('');
        }
        return c.split('').reverse().join('');
    },
    openDialogemail(correlative_api, email)
    {
        this.dialogEmail = true
        this.email = email
        this.idSelected = correlative_api
    },
    loadDraftDocuments()
    {
        const rows = JSON.parse(localStorage.getItem('drafftdocuments'))
        this.draftDocuments = rows ? rows : []
    },
    openDialogDrafDocuments()
    {
        this.dialogDraftDocuments =  true
    },
    cleanForm() {
      this.document = {
        type_document_id: this.typeDocuments.find(
          typeDocument => typeDocument.id == 1
        ).id,
        currency_id: 170,
        date_issue: this.toDate,
        type_invoice_id: 1,
        total_discount: 0,
        total_tax: 0,
        watch: false,
        subtotal: 0,
        items: [],
        total: 0,
        sale: 0,
        seller: null,
        observation:null
      };

      this.taxes.forEach(tax => {
        tax.apply = false;
        tax.retention = 0;
        tax.total = 0;
      });

      this.menuDateIssue = false;
      this.editMode = false;

      this.errors.clear();
    },
    async getRecords()
    {
        this.loadDataTable = true;
        const params = {
            page: this.paginator.page
        };
        await axios
            .get(`${this.route}AllRecords`, { params })
            .then(response => {
                this.documents = response.data.documents.data;
                const data = response.data.documents;
                this.paginator.total = data.last_page;
                this.paginator.page = data.current_page;
            })
            .catch(error => {
            this.$setLaravelValidationErrorsFromResponse(error.response.data);
            this.$setLaravelErrors(error.response.data);
            })
            .then(() => {
            this.loadDataTable = false;
            this.cleanForm();
            });

    },
    refreshData() {
      //this.loadDataTable = true;

      axios
        .post(`${this.route}All`)
        .then(response => {
          this.$setLaravelMessage(response.data);

          this.typeDocuments = response.data.typeDocuments;
          this.typeInvoices = response.data.typeInvoices;
          this.currencies = response.data.currencies;
          //this.documents = response.data.documents;
          this.clients = response.data.clients;
          this.items = response.data.items;
          this.taxes = response.data.taxes;

          this.taxes.forEach(tax => {
            tax.retention = 0;
            tax.total = 0;
          });
        })
        .catch(error => {
          this.$setLaravelValidationErrorsFromResponse(error.response.data);
          this.$setLaravelErrors(error.response.data);
        })
        .then(() => {
          //this.loadDataTable = false;
          this.cleanForm();
        });
    },
    close() {
      this.dialog = false;

      this.cleanForm();
    },
    cleanItem() {
      this.add = {};
    },
    cleanRetention() {
      this.retention = {};
    },
    validate(scope) {
      this.$validator.validateAll(scope).then(valid => {
        if (valid) {
          this.loading = true;
          this.generateNoteService();

          this.document.note_service = this.noteService;

          axios
            .post(`${this.route}/note`, this.document)
            .then(response => {
              this.$setLaravelMessage(response.data);

              if (response.data.success) {
                this.refreshData();

                this.dialog = false;
              }
            })
            .catch(error => {
              this.$setLaravelValidationErrorsFromResponse(error.response.data);
              this.$setLaravelErrors(error.response.data);
            })
            .then(() => {
              this.loading = false;
            });
        }
      });
    },
    validateItem(scope) {
      this.$validator.validateAll(scope).then(valid => {
        if (valid) {
          let item = JSON.parse(
            JSON.stringify(this.items.find(row => row.id == this.add.item_id))
          );
          let itemExist = this.document.items.find(row => row.id == item.id);

          item.quantity = this.add.quantity;

          if (itemExist != null)
            itemExist.quantity =
              Number(itemExist.quantity) + Number(item.quantity);
          if (itemExist == null && item.quantity != 0)
            this.document.items.push(item);

          this.cleanItem();
        }
      });
    },
    validateRetention(scope) {
      this.$validator.validateAll(scope).then(valid => {
        if (valid) {
          this.retentionSelected.apply = true;
          this.document.watch = !this.document.watch;
          this.cleanRetention();
        }
      });
    },
    deleteRetention(tax) {
      tax.apply = false;
      tax.retention = 0;

      this.document.watch = !this.document.watch;
    },
    deleteItem(item) {
      this.document.items.splice(
        this.document.items.findIndex(row => row.id == item.id),
        1
      );
    },
    query(document) {
      this.$set(document, "loading", true);

      axios
        .put(`${this.route}/query/${document.id}`)
        .then(response => {
          this.$setLaravelMessage(response.data);

          if (response.data.success)
            this.documents.splice(
              this.documents.findIndex(row => row.id == document.id),
              1,
              response.data.document
            );
        })
        .catch(error => {
          this.$setLaravelValidationErrorsFromResponse(error.response.data);
          this.$setLaravelErrors(error.response.data);
        })
        .then(() => {
          this.$set(document, "loading", false);
        });
    },
    conceptss() {
      this.type_invoice_id = null;
      this.noteConcepts = [];

      if (this.document.type_document_id != null)
        this.getConcepts(this.document.type_document_id).then(
          rows => (this.noteConcepts = rows)
        );
    },
    async editDocument(id) {

        const {data} = await axios.get(`${this.route}/record/${id}`)

        let documentClone = data.document
        let items = documentClone.detail_documents.map(row => row.item);

        this.taxes.forEach(tax => {
            let taxClone = documentClone.taxes.find(row => row.id == tax.id);

            if (taxClone != null) tax.apply = taxClone.apply;
        });

        items.forEach(item => {
            this.$delete(item, "total_tax");
            this.$delete(item, "subtotal");
            this.$delete(item, "total");
            this.$delete(item, "tax");
        });

        documentClone.taxes.forEach(tax => {
            tax.retention = 0;
            tax.total = 0;
        });

      //asigno data a la nota para api service
      this.noteService.customer = {
        identification_number: documentClone.client.identification_number,
        name: documentClone.client.name,
        phone: documentClone.client.phone,
        address: documentClone.client.address,
        email: documentClone.client.email,
        merchant_registration: "0000-00",
        type_document_identification_id: documentClone.client.type_identity_document_id,
        type_organization_id: documentClone.client.type_person_id,
        municipality_id_fact: documentClone.client.city_id,
        type_regime_id: documentClone.client.type_regime_id
      };

      if (documentClone.client.type_person_id == 1) {
        this.noteService.customer.dv = documentClone.client.dv;
      }

      documentClone = {
        currency_id: documentClone.currency_id,
        client_id: documentClone.client_id,
        reference_id: documentClone.id,
        date_issue: this.toDate,
        type_document_id: null,
        type_invoice_id: null,
        observation: null,
        total_discount: 0,
        id: document.id,
        total_tax: 0,
        watch: false,
        subtotal: 0,
        items: [], //items,
        total: 0,
        sale: 0,
        payment_form_id: documentClone.payment_form_id,
        payment_method_id: documentClone.payment_method_id,
        correlative_api: documentClone.correlative_api,
        response_api_cufe:  documentClone.response_api_cufe
      };

      this.document = JSON.parse(JSON.stringify(documentClone));
      this.editMode = true;
      this.dialog = true;
    },
    sendEmail() {
       this.loader_email = true

      axios
        .post(`${this.route}/sendEmail/${this.idSelected}/${this.email}`)
        .then(response => {
          this.$setLaravelMessage(response.data);
        })
        .catch(error => {
          this.$setLaravelValidationErrorsFromResponse(error.response.data);
          this.$setLaravelErrors(error.response.data);
        })
        .then(() => {
           this.loader_email = false
        });
    },
    getTaxTotal() {
      let tax = [];
      this.document.items.forEach(element => {
        let find = tax.find(x => x.tax_id == element.tax.type_tax_id && x.percent == element.tax.rate)
        if(find)
        {
          let indexobj = tax.findIndex(x => x.tax_id == element.tax.type_tax_id && x.percent == element.tax.rate )
          tax.splice(indexobj, 1);
          tax.push({
            tax_id: find.tax_id,
            tax_amount: this.cadenaDecimales(Number(find.tax_amount) + Number(element.total_tax)),
            percent: this.cadenaDecimales(find.percent),
            taxable_amount: this.cadenaDecimales((Number(find.taxable_amount) + Number(element.price) * Number(element.quantity)) - Number(element.discount))
          });
        }
        else {
          tax.push({
            tax_id: element.tax.type_tax_id,
            tax_amount: this.cadenaDecimales(Number(element.total_tax)),
            percent: this.cadenaDecimales(Number(element.tax.rate)),
            taxable_amount: this.cadenaDecimales((Number(element.price) * Number(element.quantity)) - element.discount)
          });
        }
      });

      this.tax_amount_calculate = tax
      return tax
    },

    getLegacyMonetaryTotal() {
      let line_ext_am = 0;
      let tax_incl_am = 0;
      let allowance_total_amount = 0;
      this.document.items.forEach(element => {
        line_ext_am += (Number(element.price) * Number(element.quantity)) - Number(element.discount);
        allowance_total_amount += Number(element.discount);
      });

      let total_tax_amount = 0;
      this.tax_amount_calculate.forEach(element => {
        total_tax_amount += Number(element.tax_amount);
      });

      tax_incl_am = line_ext_am + total_tax_amount;
      return {
        line_extension_amount: this.cadenaDecimales(line_ext_am),
        tax_exclusive_amount: this.cadenaDecimales(line_ext_am),
        tax_inclusive_amount: this.cadenaDecimales(tax_incl_am),
        allowance_total_amount: this.cadenaDecimales(allowance_total_amount),
        charge_total_amount: "0.00",
        payable_amount: this.cadenaDecimales(tax_incl_am - allowance_total_amount)
      };
    },

    cadenaDecimales(amount){
      if(amount.toString().indexOf(".") != -1)
        return amount.toString();
      else
        return amount.toString()+".00";
    },

    getCreditnoteLines() {
      let data = this.document.items.map(x => {
        return {
          unit_measure_id: x.type_unit.code, //codigo api dian de unidad
          invoiced_quantity: x.quantity,
          line_extension_amount: this.cadenaDecimales((Number(x.price) * Number(x.quantity)) - x.discount),
          free_of_charge_indicator: false,
			    allowance_charges: [
            {
					    charge_indicator: false,
					    allowance_charge_reason: "DESCUENTO GENERAL",
					    amount: this.cadenaDecimales(x.discount),
					    base_amount: this.cadenaDecimales(Number(x.price) * Number(x.quantity))
				    }
          ],
          tax_totals: [
            {
              tax_id: x.tax.type_tax_id,
              tax_amount: this.cadenaDecimales(x.total_tax),
              taxable_amount: this.cadenaDecimales((Number(x.price) * Number(x.quantity)) - x.discount),
              percent: this.cadenaDecimales(x.tax.rate)
            }
          ],
          description: x.name,
          code: x.code,
          type_item_identification_id: 4,
          price_amount: this.cadenaDecimales(x.price),
          base_quantity: x.quantity
        };
      });
      return data;
    },

    getWithHolding() {
      let total = this.document.total
      let list = this.taxes.filter(function(x) {
        return x.is_retention && x.apply;
      });

      return list.map(x => {
        return {
          tax_id: x.type_tax_id,
          tax_amount: this.cadenaDecimales(x.retention),
          percent: this.cadenaDecimales(this.roundNumber(x.rate / (x.conversion / 100), 6)),
          taxable_amount: this.cadenaDecimales(total),
        };
      });
    },

    roundNumber(num, decimales = 2) {
        var signo = (num >= 0 ? 1 : -1);
        num = num * signo;
        if (decimales === 0) //con 0 decimales
            return signo * Math.round(num);
        // round(x * 10 ^ decimales)
        num = num.toString().split('e');
        num = Math.round(+(num[0] + 'e' + (num[1] ? (+num[1] + decimales) : decimales)));
        // x * 10 ^ (-decimales)
        num = num.toString().split('e');
        return signo * (num[0] + 'e' + (num[1] ? (+num[1] - decimales) : -decimales));
    },

    createAllowanceCharge(amount, base) {
    	return [
		    {
	    		discount_id: 1,
		    	charge_indicator: false,
	    		allowance_charge_reason: "DESCUENTO GENERAL",
    			amount: this.cadenaDecimales(amount),
		    	base_amount: this.cadenaDecimales(base)
    		}
    	]
    },

    getTypeDocumentService()
    {
      let id = this.document.type_document_id
      let id_service = 0

      if(id == 2)
      {
        id_service = 5
      }
      else if(id == 3)
      {
        id_service = 4
      }
      return id_service
    },

    generateNoteService() {
      let contex = this
      this.noteService.number = 0;
      this.noteService.type_document_id = this.getTypeDocumentService(),
      this.noteService.date = "";
      this.noteService.time = "";

      this.noteService.billing_reference = {
        number: String(contex.document.correlative_api),
        uuid: contex.document.response_api_cufe,
        issue_date: contex.document.date_issue
      };

      this.noteService.tax_totals = this.getTaxTotal();
      this.noteService.with_holding_tax_total = this.getWithHolding();
      if(this.noteService.type_document_id == 4)
      {
        this.noteService.legal_monetary_totals = this.getLegacyMonetaryTotal();
        this.noteService.allowance_charges = this.createAllowanceCharge(this.noteService.legal_monetary_totals.allowance_total_amount, this.noteService.legal_monetary_totals.line_extension_amount );
        this.noteService.credit_note_lines = this.getCreditnoteLines();
      }
      else if(this.noteService.type_document_id == 5)
      {
        this.noteService.requested_monetary_totals = this.getLegacyMonetaryTotal();
        this.noteService.allowance_charges = this.createAllowanceCharge(this.noteService.requested_monetary_totals.allowance_total_amount, this.noteService.requested_monetary_totals.line_extension_amount );
        this.noteService.debit_note_lines = this.getCreditnoteLines();
      }
    }
  }
};
</script>
