<template>
  <main class="content">
    <div class="container-fluid">
      <v-app id="companies">
        <div class="content-header">
          <h1>Modificar/Crear Datos Usuario</h1>
        </div>
        <v-card class="py-4">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <v-text-field
                  v-model="name"
                  :counter="5"
                  :rules="[rules.nameRules]"
                  name="name"
                  label="Nombre"
                  hint="Nombre del usuario"
                  required
                ></v-text-field>
              </div>
              <div class="col-4">
                <v-text-field
                  v-model="email"
                  :rules="[rules.emailRules]"
                  name="email"
                  label="E-mail"
                  hint="Correo electronico"
                  required
                  counter
                ></v-text-field>
              </div>
              <div class="col-4">
                <v-text-field
                  v-model="password"
                  :append-icon="true ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.min]"
                  :type="false ? 'text' : 'password'"
                  name="password"
                  label="Nuevo password"
                  hint="Minimo 5 caracteres"
                  required
                  counter
                ></v-text-field>
              </div>
            </div>
            <div class="row">
              <v-btn
                @click="changePassword()"
                color="bee darker text-white no-decoration"
              >Cambiar Datos Usuario</v-btn>
            </div>
          </div>
        </v-card>
      </v-app>
    </div>
  </main>
</template>

<script>
  import { resolve } from "q";
  export default {
      props: {
        route: {
            required: true
        }
      },
      data() {
        return {
            name: '',
            email: '',
            password: '',
            rules: {
                required: value => !!value || 'Requerido',
                min: v => v.length >= 5 || 'Minimo 5 caracteres',
            nameRules: [
                     v => !!v || 'Se requiere el nombre',
                     v => (v && v.length <= 5) || 'El nombre debe tener al menos 5 caracteres',
            ],
            emailRules: [
                     v => !!v || 'E-mail es requerido',
                     v => /.+@.+\..+/.test(v) || 'Debe ser un E-mail valido',
            ],
        },
      }
  },
  filters: {},
  mounted() {},
  created() {},
  methods: {
    changePassword() {
        let dataUser = {
            name: this.name,
            email: this.email,
            password: this.password
        }
//    axios({
//        method: 'get',
//        url: 'http://localhost/facturador_colombia/public/change-user-password',
//        data: dataUser,
//        headers: {'Content-Type' : 'application/json', 'Accept' : 'application/json', 'crossdomain' : true}
//    })
        axios
          .post(`${this.route}/change-user-data`, dataUser)
          .then(response => {
            this.$setLaravelMessage(response.data);
          })
          .catch(error => {
            this.$setLaravelErrors(error.response.data);
          })
          .then(() => {
            this.loadDataTable = false;
          });

        this.name = '';
        this.email = '';
        this.password = '';
    }
  }
};
</script>
