    @media (max-width:1440px) {
        .sidebar-collapse .sidebar-list-item.active span {
            visibility: hidden;
            left: 100%;
            width: auto;
            opacity: 1;
            -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .06);
            box-shadow: 0 15px 30px rgba(0, 0, 0, .06)
        }
        .sidebar-collapse .sidebar-list-item.active:hover span {
            visibility: visible;
            left: 100%;
            width: auto;
            opacity: 1;
            -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .06);
            box-shadow: 0 15px 30px rgba(0, 0, 0, .06)
        }
    }

    @media (max-width: 1024px) {
        #document_form .v-dialog__content {
            height: 50%;
        }
        #document .v-dialog__content {
            max-height: 400px;
            height: 70%;
        }
        #clients .v-dialog__content {
            max-height: 400px;
            margin-top: 15%;
        }
        #document .v-dialog__content {
            margin-top: 35%;
        }
    }

    @media (max-width: 768px) {
        #clients .v-dialog__content {
            max-height: 400px;
            margin-top: 25%;
        }
        #items .v-dialog__content {
            max-height: 400px;
            margin-top: 15%;
        }
        #taxes .v-dialog__content {
            max-height: 400px;
            margin-top: 15%;
        }
    }

    @media (max-width: 480px) {
        #document .v-dialog__content {
            margin-top: 60%;
        }
    }

    @media (max-width: 380px) {
        #taxes .v-dialog__content {
            margin-top: 20%;
        }
        #document .v-dialog__content {
            margin-top: 60%;
        }
    }

    @media (max-width: 320px) {
        #items .v-dialog__content {
            margin-top: 25%;
        }
    }

.bee {
    background-color: #00e3f6!important;
    border-color: #00e3f6!important
}

.bee--text {
    color: #00e3f6!important;
    caret-color: #00e3f6!important
}

.bee.lighten {
    background-color: #e0f7fa!important;
    border-color: #e0f7fa!important
}

.bee.darker {
    background-color: #007bff!important;
    border-color: #007bff!important
}

.bee.darker:hover {
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
}

.no-decoration {
    text-decoration: none !important;
}

.logo {
    margin-bottom: 20px;
    height: 80px;
    background: #fff;
    margin-top: 0;
}

.logo img {
    max-height: 90%;
    max-width: 70px;
    margin-top: 5px;
    object-fit: scale-down;
}

.logo-login {
    background: transparent;
    height: 120px;
}

.logo-login:hover {
    opacity: 1;
}

.header-nav-item {
    color: #2A3F54;
    background: rgba(56,132,255,.05);
}

.sidebar {
    background: #2A3F54;
}

.sidebar-list-item:hover {
    background: rgba(255,255,255,0.05);
}

.sidebar-collapse .sidebar-list ul {
    background: #2A3F54;
}

.sidebar-collapse .logo {
    height: 80px;
}

.sidebar-collapse .logo {
    background: #fff;
    height: 80px;
}

.sidebar-collapse .logo img {
    margin: 0 auto;
    margin-top: -4px;
    width: 60px;
}

.sidebar-collapse .sidebar-list {
    padding: 8px 8px 0;
}

.el-logo div .logo {
    padding-top: 20px;
    min-height: 180px;
}
.el-logo div .logo img {
    max-height: 300px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
